<p id="notice"><%= notice %></p>

<p>
  <strong>Parent:</strong>
  <%= @category.parent_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>

<hr>

<h1>Nested Category as HTML</h1>
<%= render @category %>

<hr>

<h1>Nested Category as JSON</h1>
<%= link_to 'as JSON', category_path(@category, :json) %>
